<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Branch" verbose="1" >
    <test name="Selenium tests"   >
        <groups>
            <define name = "all">
                <include name="Teams"/>
            </define>

            <run>
                <include name="all"/>
            </run>
        </groups>

        <packages>
            <package name="tests" />
        </packages>
</suite>
